* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  list-style-type: none;
}

body {
  margin: 0 auto;
  font-family: "Muli", sans-serif;
  color: #5A4859;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
    color: #5A4859;
}

nav {
  display: none;
}

main {
  background-color: #fff;
}

.hero {
  padding-bottom: 10%;
}

.hero h1 {
  font-size: 3.5rem;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.head {
  color: #FFDAD8;
  background: linear-gradient(5deg, #D3758B, #461D5C);
}

p {
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 3rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-family: "Rufina", serif;
  font-size: 3rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;

}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #D17A8F;
}

.thunder-blurp {
  font-size: 3rem;
  padding: 1% 0;
}

.profile {
    background-image: url("../images/thunderhead-p.png");
    background-size: cover;
    padding-top: 9%;
    padding-bottom: 9%;
}

.profile h1 {
  color: #fff;
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 0;
}

.tag-home {
  color: #fff;
}

.case-link {
  padding-top: 5%;
  padding-bottom: 5%;
}

.profile-pad {
  padding-top: 1%;

}

.tab {
  background-color: #fff;
  color: #5A4859;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  width: 300px;
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
}

.tab2 {
  background-color: #fff;
  color: #5A4859;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  width: 300px;
  text-align: center;
  padding: 1rem;
}

.class {
  background-color: #fff;
  color: #5A4859;
  font-size: 2.1rem;
  font-family: "Raleway", sans-serif;
  width: 240px;
  text-align: center;
  padding: 1rem;
}

.project {
  grid-area: project;
  padding-top: 4rem;
  padding-bottom: 7rem;

}

.designer {
  color: #271034;
}

footer {
  background-color: #5A4859;
  color: #fff;
}

footer li {
  display: inline;
  padding-right: 2%;
}

footer img {
  width: 7rem;
  height: auto;
}

footer ul {
  padding: 0;
}
.build {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
}

.foot {
  background-color: #5A4859;
  margin: 0;
}

footer p {
  font-size: 4rem;
  line-height: 1.3;
}

.xtrbld {
  font-weight: bold;
}

.beautiful {
  font-family: 'Lily Script One', cursive;
}

.social div {
  display: inline;
  padding-right: 5%;
}

.brand-mark {
  display: inline-block;
  padding-left: 4%;
}

.email {
    width: 100%;
    height: auto;
}

.email img {
    width: 13%;
    height: auto;
    margin-bottom: -5px;
}

.linkedin {
    width: 100%;
    height: auto;
}

.linkedin img {
    width: 13%;
    height: auto;

}

.twitter {
    width: 100%;
    height: auto;
}

.twitter img {
    width: 13%;
    height: auto;
    margin-bottom: -5px;

}

.github {
    width: 100%;
    height: auto;
}

.github img {
    width: 13%;
    height: auto;
    margin-bottom: -1px;
}

.column {
  text-align: left;
}

.persona-alignment {
  text-align: left;
}

.persona-font {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-decoration: underline;
}

/*drop down menu*/
@import url(https://fonts.googleapis.com/css?family=Latos:400,300,700,900);

.navigation {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:20px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}

.menulist {
    width:200px;

}

.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none;
    font-family: "Latos", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    display: inline-block;
    position:relative;
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 25px;
    right: -20px;
    font-size: 2rem !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size: 2rem;
}

#work {
  background-color: #fff;
  color: #5A4859;
  font-size: 2.1rem;
  font-family: "Raleway", sans-serif;
  width: 240px;
  text-align: center;
  padding: 1rem;
}

/*Project Page*/

.intro {
  text-align: center;
  margin-top: -20px;
}

.prob-sol-mobile {
  display: flex;
  flex-direction: column;
}

.tag {
  color: #fff;
  text-align: center;
  padding-bottom: 3%;
  font-size: 2.5rem;
}

.head2 {
  color: #FFDAD8;
  background-image: url("../images/thunderhead-p.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero2 h1 {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 5rem;
  margin: 0 auto;
  padding: 0;
}

.brown ul {
  padding: 0;
}

.white ul {
  padding: 0;
}

.brown {
  background-color: #EEE;
  padding: 5% 5%;
}

.brown h2 {
  text-align: center;
  padding: 2%;
}

.white h2 {
  text-align: center;
  padding: 0 2%;
}

.white p {
  padding: 2% 0;
}

.brown p {
  padding: 2% 0;
}

.thunderhead-profile {
  width: 100%;
  height: auto;
  margin: auto;
}

.thunderhead-profile img {
  display: block;
  width: 100%;
  height: auto;
}

.case-profile {
  width: 100%;
  height: auto;
}

.case-profile img {
  display: none;
  width: 50%;
  height: auto;
}

.white {
  padding: 5% 5%;
}

.logo-section {
  padding: 0;
}

.logo-section h2 {
  text-align: center;
  padding: 1%;
}

.logo-phrase {
  padding: 0;
}
.personas {
    width: 100%;
    height: auto;
}

.personas img {
  display: none;
    width: 100%;
    height: auto;
    border: 10px solid #5A4859;
}

.persona-pad {
  margin-top: -20px;
}

.case-imgs {
  display: none;
  width: 100%;
  height: auto;
}

.wireframe {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireframe img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.sketch {
  width: 100%;
  height: auto;
  margin: auto;
}

.sketch img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.brand {
  width: 30%;
  height: auto;
  margin: auto;
}

.type img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.type {
  width: 50%;
  height: auto;
  margin: auto;
}

.brand img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.logo2 {
  display: none;
  width: 50%;
  height: auto;
  margin: auto;
}

.logo2 img {
  display: none;
}

.logo1 {
  display: none;
}

.logo2 img {
  display: none;
}

.logo-sketch {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
}

.logo-sketch img {
  width: 100%;
  height: auto;
}

.color {
  width: 50%;
  height: auto;
  margin: auto;
}

.color img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.userstories {
  width: 50%;
  height: auto;
  margin: auto;
}

.userstories img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.userflows {
  width: 50%;
  height: auto;
  margin: auto;
}

.userflows img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.sitemap img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.sitemap {
  width: 50%;
  height: auto;
  margin: auto;
}

.case-imgs img {
  display: none;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.view-w {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #D17A8F;
}

.view-logo {
  padding: 2% 0 7% 0;
}

.view-section p {
  padding: 0;
}

.view-b {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.column h2 {
  text-align: left;
  padding: 0;
}

#prototype {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 3%;
  background-color: #777177;
}

#prototype:hover {
  background-color: #BFB9BF;
}

.research {
  font-weight: bold;
  font-size: 2rem;

}

.usertesting {
  text-align: center;
  font-size: 2rem;
  background-color: #EEE;
  border: 1px solid #fff;
  border-radius: 10px;
}

.usertesting li {
  padding: 2%;
}

.research2 {
  font-size: 2rem;
}

.research2 li {
  list-style-type: circle;
  list-style-position: inside;
  padding: 1%;
}

.column ul {
  padding: 0;
  font-size: 2rem;
}

.row-drives {
  display: flex;
  width: 50%;
  height: auto;
  margin: auto;
}

.column-drives img {
  display: none;
  width: 100%;
  height: auto;
  padding: 10%
}

.invision {
  display: none;
  width: 50%;
  height: auto;
  margin: auto;

}

.invision img {
  width: 100%;
  height: auto;
}

/*About Page*/

.bio-photo {
  width: 100%;
  heigth: auto;
  border: 30px solid #fff;
  margin: 0 auto 50px auto;
}

.bio-photo img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

#resume a {
  color: #D17A8F;
}

#resume a:hover {
  color: #5A4859;
}

/*Contact Page*/

.hero3 {
  padding-bottom: 10%;
}

.hero3 h1 {
  font-size: 2.5rem;
}

.contact-form {
  background-color: #E0E3E6;
  padding: 10%;
  border-radius: 5px;
}

input {
  padding-left: 1rem;
  height: 4rem;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

textarea {
  border: none;
  height: 20rem;
  padding-left: 1rem;
  padding-top: 1rem;
  resize: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

.contact-send {
  letter-spacing: 0.1rem;
  background-color: #777177;
  color: #fff;
}

.contact-send:hover {
  background-color: #5A4859;
  color: #fff;
}

/*Media Queries*/

@media screen and (min-width: 768px) {
  .container {
    width: 70rem;
  }

  #topNav {
    display: none;
  }

  nav {
    display: inline-block;
    width: 375px;
    float: right;
    margin-top: 70px;
  }

  nav ul {
  margin: 0;
  padding: 0;
  }
  nav li {
    display: inline;
    padding: 3%;
  }

  nav a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  .hero2 h1 {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 10rem;
    margin: 0 auto;
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
  }

  .row-alt {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: -50px;
  }

  .column {
    flex: 33.33%;
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size: 1rem;
  }

  .hero h1 {
    font-size: 6rem;
  }

  .work {
    background-color: #fff;
    color: #5A4859;
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    width: 300px;
    text-align: center;
    padding: 1rem;
  }

  #prototype {
    width: 40%;
    margin: 0 auto;
    padding: 1.5%;
  }

  /*Social Media Icons*/

  .email {
      width: 100%;
      height: auto;
  }

  .email img {
      width: 7%;
      height: auto;
      margin-bottom: -7px;
  }

  .linkedin {
      width: 100%;
      height: auto;
  }

  .linkedin img {
      width: 7%;
      height: auto;

  }

  .twitter {
      width: 100%;
      height: auto;
  }

  .twitter img {
      width: 7%;
      height: auto;
      margin-bottom: -7px;

  }

  .github {
      width: 100%;
      height: auto;
  }

  .github img {
      width: 7%;
      height: auto;
      margin-bottom: -3px;
  }


}


@media screen and (min-width: 1000px) {
  .container {
    width: 98rem;
  }

  #topNav {
    display: none;
  }

    nav {
      display: inline-block;
      float: right;
      margin-top: 50px;
    }

    nav li {
    display: inline;
    }

    nav a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    }

    .hero2 h1 {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 10rem;
    margin: 0 auto;
    padding: 0;
    }

    .hero h1 {
      font-size: 6rem;
    }

    #prototype {
      width: 30%;
      margin: 0 auto;
      padding: 1.5%;
    }

  /*Project Images*/

  /*User Personas*/
.personas {
    width: 100%;
    height: auto;
}

.personas img {
    display: block;
    width: 100%;
    height: auto;
    border: 10px solid #5A4859;
}

/*Swot Analysis*/
.row-drives {
  display: flex;
  width: 50%;
  height: auto;
  margin: auto;

}

.column-drives img {
  display: block;
  width: 100%;
  height: auto;
  padding: 10%
}

/*User Flows*/
.userflows {
  width: 50%;
  height: auto;
  margin: auto;
}

.userflows img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

/*User Stories*/
.userstories {
  width: 75%;
  height: auto;
  margin: auto;
}

.userstories img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

/*Sitemap*/
.sitemap img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;

}

.thunderhead-profile {
  width: 90%;
  height: auto;
  margin: auto;

}

.thunderhead-profile img {
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.sitemap {
  width: 50%;
  height: auto;
  margin: auto;
}

/*Wireframes*/
.wireframe {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireframe img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

/*Brand Name*/
.brand {
  width: 30%;
  height: auto;
  margin: auto;
}

.brand img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

/*Hi-fi Prototype*/
.case-imgs img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.case-imgs {
  width: 100%;
  height: auto;
}

/*Logo*/
.logo1 {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
  padding-bottom: 5%;
}

.logo1 img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.logo2 {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}

.logo2 img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

/*Color Palette*/

.color {
  width: 50%;
  height: auto;
  margin: auto;
}

.color img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

/*Typography*/

.type img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.type {
  width: 50%;
  height: auto;
  margin: auto;
}
/*Sketching*/

.sketch {
  width: 100%;
  height: auto;
  margin: auto;
}

.sketch img {
  display: block;
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.row {
  display: flex;
}

.row-alt {
  display: flex;
}

.column {
  flex: 33.33%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-size: 1rem;
}

.invision {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
    border: 10px solid #5A4859;
}

.invision img {
  width: 100%;
  height: auto;
}

/*Social Media Icons*/

.email {
    width: 100%;
    height: auto;
}

.email img {
    width: 7%;
    height: auto;
    margin-bottom: -7px;
}

.linkedin {
    width: 100%;
    height: auto;
}

.linkedin img {
    width: 7%;
    height: auto;
}

.twitter {
    width: 100%;
    height: auto;
}

.twitter img {
    width: 7%;
    height: auto;
    margin-bottom: -7px;

}

.github {
    width: 100%;
    height: auto;
}

.github img {
    width: 7%;
    height: auto;
    margin-bottom: -3px;
}

.prob-mobile {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.sol-mobile {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.pro-so {
  display: flex;
  flex-direction: row;
}







}
