* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  list-style-type: none;
}

body {
  margin: 0 auto;
  font-family: "Muli", sans-serif;
  color: #5A4859;
}

nav {
  display: none;
}

main {
  background-color: #fff;
}

.hero {
  padding-bottom: 10%;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.head {
  color: #FFDAD8;
  background: linear-gradient(5deg, #D3758B, #461D5C);
}

p {
  font-size: 2rem;
  margin-top: .5rem;
  line-height: 3rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-family: "Rufina", serif;
  font-size: 3rem;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;

}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: #D17A8F;
}

.thunder-blurp {
  font-size: 3rem;
  padding: 1% 0;
}

.profile {
    width: 100%;
    height: auto;
    padding-top: 5%;
}

/* resize images */
.profile img {
    width: 100%;
    height: auto;
    padding: 2% 0;
}

.underline {
  border-bottom: 0.3rem solid #D17A8F;
  color: #5A4859;
  font-size: 4rem;

}

.tab {
  background-color: #fff;
  color: #5A4859;
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  width: 300px;
  text-align: center;
  padding: 1rem;
}

.project {
  grid-area: project;
  padding: 7rem 0;
}

.designer {
  color: #271034;
}

footer {
  background-color: #5A4859;
  color: #fff;
  padding: 10%;
}

footer li {
  display: inline;
  padding-right: 2%;
}

footer img {
  width: 7rem;
  height: auto;
}

footer ul {
  padding: 0;
}

.foot {
  background-color: #5A4859;
}

footer p {
  font-size: 4rem;
  line-height: 1.3;
}

.xtrbld {
  font-weight: bold;
}

.beautiful {
  font-family: 'Lily Script One', cursive;
}

.social div {
  display: inline;
  padding-right: 3%;
}

.brand-logo {
  padding: 2%;
}



/*drop down menu*/
@import url(https://fonts.googleapis.com/css?family=Latos:400,300,700,900);

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:20px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
}


.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none;
    font-family: "Latos", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    display: inline-block;
    position:relative;
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 25px;
    right: 25px;
    font-size: 2rem !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size: 2rem;
}

/*Project Page*/

.head2 {
  color: #FFDAD8;
  background-image: url("../images/thunderhead-p.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero2 h1 {
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 10rem;
  padding-bottom: 10%;
}

.brown ul {
  padding: 0;
}

.white ul {
  padding: 0;
}

.brown {
  background-color: #D4CED4;
  padding: 10% 5%;
}

.brown h2 {
  text-align: center;
  padding: 2%;
}

.white h2 {
  text-align: center;
  padding: 0 2%;
}

.white p {
  padding: 2% 0;
}

.brown p {
  padding: 2% 0;
}

.case-profile {
  width: 100%;
  height: auto;
}

.case-profile img {
  width: 50%;
  height: auto;
}

.white {
  padding: 10% 5%;
}

.personas {
    width: 100%;
    height: auto;
}

/* resize images */
.personas img {
    width: 100%;
    height: auto;
    border: 10px solid #5A4859;
}



.case-imgs {
  width: 100%;
  height: auto;

}

.wireframe {
  width: 50%;
  height: auto;
  margin: auto;
}

.wireframe img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.brand {
  width: 30%;
  height: auto;
  margin: auto;
}

.type img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.type {
  width: 50%;
  height: auto;
  margin: auto;
}

.brand img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.logo2 {
  width: 50%;
  height: auto;
  margin: auto;
}

.logo2 img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.logo1 {
  width: 50%;
  height: auto;
  margin: auto;
}

.logo2 img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.color {
  width: 50%;
  height: auto;
  margin: auto;
}

.color img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.userflows {
  width: 50%;
  height: auto;
  margin: auto;
}

.userflows img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.sitemap img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.sitemap {
  width: 50%;
  height: auto;
  margin: auto;
}

.case-imgs img {
  width: 100%;
  height: auto;
  border: 10px solid #5A4859;
}

.view-w {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #D17A8F;
}

.view-b {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

.column h2 {
  text-align: left;
  padding: 0;
}

.prototype {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 3%;
}



.research {
  text-align: center;
  font-size: 3rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
}

.research li {
  padding: 4%;
}

.usertesting {
  text-align: center;
  font-size: 2rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
}

.usertesting li {
  padding: 4%;
}

.research2 {
  font-size: 2rem;
  background-color: #D4CED4;
  border: 1px solid #D4CED4;
  border-radius: 25px;
}

.research2 li {
  list-style-type: circle;
  list-style-position: inside;
  padding: 4%;
}

.column ul {
  padding: 5% 0;
  font-size: 1.5rem;
}



.row {
  display: flex;
}

/* resize images */
.column {
  flex: 33.33%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-size: 1rem;

}

.row-drives {
  display: flex;
  width: 50%;
  height: auto;
  margin: auto;

}

.column-drives img {
  width: 100%;
  height: auto;
  padding: 10%
}


/*Media Queries*/

@media screen and (min-width: 768px) {
  .container {
    width: 70rem;
  }

  #topNav {
    display: none;
  }

  nav {
    display: block;
    float: right;
  }


  nav a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  nav li {
    display: inline;
    padding: 5%;
  }

}


@media screen and (min-width: 1000px) {
  .container {
    width: 98rem;
  }

  #topNav {
    display: none;
  }

nav {
  display: block;
}

nav ul {
  margin: 0;
}

  nav a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  nav li {
    display: inline;
    padding: 5%;
  }

}
